<nav class="navbar navbar-light bg-white">
    <!-- <div class="container-fluid"> -->
    <!-- <div class="defCol"> -->

    <a class="navbar-brand" href="#">
        <h5>Flight Reservation System</h5>
    </a>

    <!-- </div> -->

    <!-- <div class="d-flex">
            <button type="button" class="btn btn-outline-success">Login</button>
        </div> -->


    <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
        </li> -->
        <!-- <li class="nav-item">
              <a class="nav-link" href="#" *ngIf="loginStatus">Aboutus</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" *ngIf="loginStatus">ContactUS</a>
            </li> -->
        <li class="nav-item">
            <button type="button" class="btn btn-primary" *ngIf="!loginStatus" (click)="login()">
                Login
            </button>
        </li>
        <li class="nav-item">
            <button type="button" class="btn btn-danger" *ngIf="loginStatus" (click)="logout()">
                Logout
            </button>
        </li>
    </ul>
    <!-- </div> -->
</nav>